.app {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--background-gray);

  @media (max-width: 575.98px) {
    display: block;
  }

  .app__body {
    display: flex;
    justify-content: center;
    padding: 0 5rem;
    gap: 0.8rem;
    color: var(--black-text);
    width: 100%;
    height: auto;
    
    @media (max-width: 575.98px) {
      padding: 0;
      flex-direction: column;
      gap: 0;
      overflow-x: hidden;
    }
    
    @media (min-width: 575.99px) and (max-width: 991.98px) {
      display: grid;
      grid-template-columns: auto auto;
      padding: 0 1rem;
    }
    
    .body__container {
      padding-top: 1rem;
      flex: 0.8;

      display: flex;
      gap: .8rem;

      @media (max-width: 575.98px) {
        gap: 0;
        flex: 1;
        padding-top: 0;
      }

      @media (max-width: 991.98px) {
        flex-direction: column;
      }
    }
  }
}
